<!DOCTYPE html>
<html  ng-app="myApp" lang="ta" >
    <head>
        <!-- Required meta tags -->
        <!-- <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
        <!-- <meta charset="utf-8"> -->
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
          <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <link rel="icon" href="img/fevi2.jpg" type="image/png">
        <title>Kevell news</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/bootstrap.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">    
       <!--  <link rel="stylesheet" href="vendors/linericon/style.css"> -->
        <link rel="stylesheet" href="css/font-awesome.min.css">
       <!--  <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
        <link rel="stylesheet" href="vendors/lightbox/simpleLightbox.css">
        <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
        <link rel="stylesheet" href="vendors/animate-css/animate.css">
        <link rel="stylesheet" href="vendors/jquery-ui/jquery-ui.css"> -->
    	<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-lite.css" rel="stylesheet"> -->
        <!-- <link rel="stylesheet" href="scss/breadcrumb.css"> -->
        <!-- main css -->
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/responsive.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/login-main.css">
        <link rel="stylesheet" href="css/login-util.css">
        
        <link rel="stylesheet" href="new/css/core-style.css">
    	<link rel="stylesheet" href="new/css/style.css">

	    <!-- Responsive CSS -->
	    <link href="new/css/responsive.css" rel="stylesheet">
    	
    </head>
    
    <body  ng-controller="myCtrl">
        <!--================Header Menu Area =================-->
        <div id="header" ng-include="'./view/common/header.html'"></div>
       
       <div ng-controller="contCtrl"> 
      <div id="indexview">
	     <section class="welcome-blog-post-slide owl-carousel">
	        <!-- Single Blog Post -->
	        <div ng-repeat="news in latestnews | limitTo : 1" class="single-blog-post-slide bg-img background-overlay-5" style="background-image: url(https://s3.amazonaws.com/magazinebucket/Uploadimg/{{news.image}});">
	            <!-- Single Blog Post Content -->
	            <div class="single-blog-post-content">
	                <div class="tags">
	                    <a href="#">{{news.category}}</a>
	                </div>
	                <h3><a ng-click="nxtview()" href="#/newsdetails/{{news.newsid}}" class="font-pt">{{news.header}}</a></h3>
	                <div class="date">
	                    <a href="#">{{dateFormat(news.dateandtime)}}</a>
	                </div>
	            </div>
	        </div>
	        <!-- Single Blog Post -->
	        <div ng-repeat="worldnews in internationalnews | limitTo : 1" class="single-blog-post-slide bg-img background-overlay-5" style="background-image: url(https://s3.amazonaws.com/magazinebucket/Uploadimg/{{worldnews.image}});">
	            <!-- Single Blog Post Content -->
	            <div class="single-blog-post-content">
	                <div class="tags">
	                    <a href="#">{{worldnews.category}}</a>
	                </div>
	                <h3><a ng-click="nxtview()" href="#/newsdetails/{{worldnews.newsid}}" class="font-pt">{{worldnews.header}}</a></h3>
	                <div class="date">
	                    <a href="#">{{dateFormat(worldnews.dateandtime)}}</a>
	                </div>
	            </div>
	        </div>
	        <!-- Single Blog Post -->
	        <div ng-repeat="movies in entertainement | limitTo : 1" class="single-blog-post-slide bg-img background-overlay-5" style="background-image: url(https://s3.amazonaws.com/magazinebucket/Uploadimg/{{movies.image}});">
	            <!-- Single Blog Post Content -->
	            <div class="single-blog-post-content">
	                <div class="tags">
	                    <a href="#">{{movies.category}}</a>
	                </div>
	                <h3><a ng-click="nxtview()" href="#/newsdetails/{{movies.newsid}}" class="font-pt">{{movies.header}}</a></h3>
	                <div class="date">
	                    <a href="#">{{dateFormat(movies.dateandtime)}}</a>
	                </div>
	            </div>
	        </div>
	        <!-- Single Blog Post -->
	        <div ng-repeat="politic in politics | limitTo : 1" class="single-blog-post-slide bg-img background-overlay-5" style="background-image: url(https://s3.amazonaws.com/magazinebucket/Uploadimg/{{politic.image}});">
	            <!-- Single Blog Post Content -->
	            <div class="single-blog-post-content">
	                <div class="tags">
	                    <a href="#">{{politic.category}}</a>
	                </div>
	                <h3><a ng-click="nxtview()" href="#/newsdetails/{{politic.newsid}}" class="font-pt">{{politic.header}}</a></h3>
	                <div class="date">
	                    <a href="#">{{dateFormat(politic.dateandtime)}}</a>
	                </div>
	            </div>
	        </div>
	    </section>
    <!-- Welcome Blog Slide Area End -->

<div class="tcontainer">
    <div class="ticker-wrap">
      <div class="ticker-move">
        <div class="ticker-item"><a href="#"><span  class="latest-news-time">10:40</span>{{flashnews1}}</a></div>
        <div class="ticker-item"><a href="#"><span class="latest-news-time">11:02</span>{{flashnews2}}</a></div>
        <div class="ticker-item"><a href="#"><span class="latest-news-time">11:02</span>{{flashnews3}}</a></div>
        <div class="ticker-item"><a href="#"><span class="latest-news-time">11:02</span>{{flashnews4}}</a></div>
      </div>
    </div>
  </div>


    <!-- Latest News Marquee Area Start -->
   <!--  <div class="latest-news-marquee-area">
        <div class="simple-marquee-container">
            <div class="marquee">
                <ul class="marquee-content-items">
                    <li>
                        <a href="#"><span class="latest-news-time">10:40</span>{{flashnews1}}</a>
                    </li>
                    <li>
                        <a href="#"><span class="latest-news-time">11:02</span>{{flashnews2}}</a>
                    </li>
                    <li>
                        <a href="#"><span class="latest-news-time">12:37</span>{{flashnews3}}</a>
                    </li>
                    <li>
                        <a href="#"><span class="latest-news-time">13:59</span>{{flashnews4}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
     -->
	    <!-- <div class="latest-news-marquee-area">
	        <div class="simple-marquee-container">
	            <div class="marquee" >
	                <ul class="marquee-content-items" >
	                    <li ng-repeat="flist in flashlist" >
	                        <a href="#"><span class="latest-news-time">10:40</span> {{flist}}</a>
	                    </li>
	                </ul>
	            </div>
	        </div>
	    </div> -->
    </div>
    </div>
    <!-- Latest News Marquee Area End -->
		<div ui-view autoscroll="true"></div>
			
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script> -->
		
       <!--  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script> -->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.js"></script>
	   	<script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
	   	<script src="new/js/jquery/jquery-2.2.4.min.js"></script>
	      
	    <!-- <script data-require="angular.js@1.2.28" data-semver="1.2.28" src="https://code.angularjs.org/1.2.28/angular.js"></script>
    	<script data-require="angular-route@1.2.28" data-semver="1.2.28" src="https://code.angularjs.org/1.2.28/angular-route.js"></script>
    	<script data-require="angular-sanitize@*" data-semver="1.4.3" src="https://code.angularjs.org/1.4.3/angular-sanitize.js"></script> -->
        <script src="new/js/popper.min.js"></script>
        <script src="new/js/bootstrap.min.js"></script>
       	<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->
       	<!-- Plugins js -->
    	<script src="new/js/plugins.js"></script>
    	<!-- Active js -->
    	<script src="new/js/active.js"></script>  
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>
        <!-- <script src="js/stellar.js"></script> -->
        <!-- <script src="vendors/lightbox/simpleLightbox.min.js"></script> -->
        <!-- <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
        <script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
        <script src="vendors/isotope/isotope-min.js"></script>
        <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="vendors/jquery-ui/jquery-ui.js"></script> -->
        <!-- <script src="js/jquery.ajaxchimp.min.js"></script>
        <script src="js/mail-script.js"></script>
        <script src="js/theme.js"></script>
        <script src="js/login-main.js"></script> -->
        <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script> -->
   		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-lite.js"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
        
       <!--  <script src="vendors/jquery-3.2.1.min.js"></script> -->
        <script src="ng-js/main.js"></script>
        <script src="ng-js/admin.js"></script>
        <script src="ng-js/newslist.js"></script>
        <script src="ng-js/newscontent.js"></script>
        <script src="ng-js/commonservice.js"></script>
        <script src="ng-js/ticket.js"></script>
        <script src="ng-js/polling.js"></script>
       
    </body>
</html>