<!-- Footer Area Start -->
    <footer class="footer-area bg-img background-overlay" style="background-image: url(./img/4.jpg);">
        <!-- Top Footer Area -->
        <div class="top-footer-area section_padding_100_70">
            <div class="container">
                <div class="row">
                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                        <div class="single-footer-widget">
                            <div class="footer-widget-title">
                                
                            </div>
                            <ul class="footer-widget-menu">
                                <li><a ng-click="newssec()" href="#/newssection/Latest News">Latest News</a></li>
                                <li><a ng-click="newssec()" href="#/newssection/Politics">Politics</a></li>
                                <li><a ng-click="newssec()" href="#/category">Politics</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="single-footer-widget">
                            <div class="footer-widget-title">
                                
                            </div>
                            <ul class="footer-widget-menu">
                                <li><a ng-click="newssec()" href="#/newssection/Life style">Life & Style</a></li>
                                <li><a ng-click="newssec()" href="#/newssection/International News">International News</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="single-footer-widget">
                            <div class="footer-widget-title">
                                
                            </div>
                            <ul class="footer-widget-menu">
                               <li><a ng-click="newssec()" href="#/newssection/Entertainment News">Entertainment News</a></li>
                                <li><a ng-click="newssec()" href="#/newssection/Sports News">Sports News</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Single Footer Widget -->
                </div>
            </div>
        </div>

        <!-- Bottom Footer Area -->
        <div class="bottom-footer-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center">
                    <div class="col-12">
                        <div class="copywrite-text">
                            <p>
									Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This site is made by <a href="http://kevellcorp.com" target="_blank">Kevellcorp</a>
							</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End -->