<!--================Header Menu Area =================-->
	<style>
	 #search{
	 	width: 460px;
    	height: 40px;
    	border: 2px solid #ebebeb;
	 }
	</style>
	<div ng-controller="myCtrl">
    <header id="adminview" class="header-area" >
        <div class="top-header">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <!-- Breaking News Area -->
                    <div class="col-12 col-md-6">
                        <div class="breaking-news-area">
                            <h5 class="breaking-news-title">Flash NEWS</h5>
                            <!-- <div id="breakingNewsTicker1" class="ticker1">
                                <ul>
                                    <li><a href="#">Brexit breakthrough in Brussels comes after week of drama</a></li>
                                    <li><a href="#">Brexit breakthrough in Brussels</a></li>
                                    <li><a href="#">Brexit breakthrough in Brussels comes after week of drama</a></li>
                                    <li><a href="#">Brex comes after week of drama</a></li>
                                    <li><a href="#">Brexit breakthrough in Bweek of drama</a></li>
                                    <li><a href="#">Brexit bssels comes after week of drama</a></li>
                                </ul>
                            </div> -->
                        </div>
                    </div>
                    <!-- Stock News Area -->
                    <div class="col-12 col-md-6">
                        <div class="stock-news-area">
                            <div id="stockNewsTicker1" class="ticker1">
                                <ul>
                                    <li><a href="#">{{flashnews1}}</a></li>
                                    <li><a href="#">{{flashnews2}}</a></li>
                                    <li><a href="#">{{flashnews3}}</a></li>
                                    <!-- <li><a href="#">Brex comes after week of drama</a></li> -->
                                   <!--  <li><a href="#">Brexit breakthrough in Bweek of drama</a></li>
                                    <li><a href="#">Brexit bssels comes after week of drama</a></li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Middle Header Area -->
        <div class="middle-header">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <!-- Logo Area -->
                    <div class="col-12 col-md-4">
                        <div class="logo-area">
                            <a href="#/index"><img src="./img/kevelllogo.png" alt="logo" style="margin-left: 20%"></a>
                        </div>
                    </div>
                    <!-- Header Advert Area -->
                    <div class="col-12 col-md-8">
                        <div class="header-advert-area">
                            <a href="#"><img src="http://www.designad.co.uk/designAD_comingSoon.gif" style="width:728px;height:90px;" alt="header-add"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom Header Area -->
        <div class="bottom-header" ng-controller="myCtrl">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="main-menu">
                            <nav class="navbar navbar-expand-lg">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#gazetteMenu" aria-controls="gazetteMenu" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i> Menu</button>
                                <div class="collapse navbar-collapse" id="gazetteMenu">
                                    <ul class="navbar-nav mr-auto">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="#/index">Today <span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <a class="dropdown-item" href="#/index">Home</a>
                                                <a class="dropdown-item" href="#/category">Category</a>
                                               <!--  <a class="dropdown-item" href="single-post.html">Single Post</a>
                                                <a class="dropdown-item" href="about-us.html">About Us</a> -->
                                               <!--  <a class="dropdown-item" href="#/contact">Contact</a> -->
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" ng-click="newssec()" href="#/newssection/Politics">Politics</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" ng-click="newssec()" href="#/newssection/Life style">Lifestyle</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" ng-click="newssec()" href="#/newssection/International News">World</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" ng-click="newssec()" href="#/newssection/Latest News">Latest</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" ng-click="newssec()" href="#/newssection/Entertainment News">Entertainment</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" ng-click="newssec()" href="#/newssection/Sports News">sport</a>
                                        </li>
                                    </ul>
                                    <!-- Search Form -->
                                    <!-- <div class="header-search-form mr-auto">
						                 <form action="#">
						                    <input type="search" ng-change="search()" ng-model='searchText' placeholder="Input your keyword then press enter..." id="search" name="search">
						                    <input class="d-none" type="submit" value="submit">
						                 </form>
						            </div>
						            Search btn
						            <div id="searchbtn">
						               <i class="fa fa-search" aria-hidden="true"></i>
						            </div> -->
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    </div>
    
    