    /* ----------------------------------------------------------
    :: Template Name: TheGazette - News Magazine HTML5 Template
    :: Author: Colorlib
    :: Author URL: https://colorlib.com
    :: Description: TheGazette is a smart & creative news & magazine template. It's suitable for all news & magazine website.
    :: Version: 1.0.0
    :: Created: 17 January 2018
    :: Last Updated: 17 January 2018
    ---------------------------------------------------------- */

    /* ============ PLACE YOUR CUSTOM CSS HERE ============ */
     @keyframes tic {
    0% {margin-top:144px;}
    25% {margin-top: 0px;}
    50% {margin-top: -140px;}
    75% {margin-top: -140px;}
    100% {margin-top: 144px;}
  }
  
  #stockNewsTicker1 ul li a{
  color:#ff0303!important;
      
  }
  .ticker1 {
    /* background: #eee; */
    box-sizing: content-box;
 /* height: 25px; */ 
    overflow: hidden;
    padding: 10px;
   
  } 
  .ticker1 ul {
    padding:0;
    margin:0;
    list-style-type: none;
    animation-name: tic;
    animation-duration:10s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1, 0, .5, 0);
  }
  .ticker1 ul:hover {
    animation-play-state: paused;
  }
  .ticker1 ul li {
  
    font-size:18px;
       
  }
  
  
  
  
  @keyframes ticker {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-100%, 0, 0); }
  }
  .tcontainer{
    width: 100%;
    overflow: hidden;
    height:61px;
  }
  .ticker-wrap {
       background-color: #101010;
    width: 100%;
    padding-left: 100%;
    /* background-color: #eee; */
    height: 64px;
  }
  .ticker-move {
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: 100s;
    padding: 19px;
  }
  .ticker-move span{
  background-color: #ff0303;
  padding:2px 6px;
  margin-right:20px;
  }
  .ticker-move:hover{
    animation-play-state: paused;
  }
  .ticker-item{
    display: inline-block;
    padding: 0 2rem;
  }
  .ticker-item a{
  color: aliceblue;
  }
  
  
  
  
  
  #owl-demo .item img{
    display: block;
    width:400px;
    height: auto;
}