     <meta http-equiv=Content-Type content="text/html; charset=utf-8">
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-lite.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-lite.js"></script>
      <div id="header" ng-include="'./view/common/adminheader.html'"></div> 
	     <div class="breadcumb-area section_padding_50">
	        <div class="container">
	            <div class="row">
	                <div class="col-12">
	                    <div class="breacumb-content d-flex align-items-center justify-content-between">
	                        <!-- Post Tag -->
	                        <div class="gazette-post-tag">
	                            <a href="#">Admin</a>
	                        </div>
	                        <p class="page_link editorial-post-date text-dark mb-0">
	                        	<a href="#/index">Home</a> <span>&</span>
								<a href="#/admin">Admin</a>
							</p>
	                    </div>
	                </div>
	            </div>
	        </div>
	     </div>
	    
      <!-- <section class="home_banner_area">
            <div class="banner_inner d-flex align-items-center">
	        <div class="container">
			  <h2 style="color:white;">News Update</h2>
			    <div class="form-group form-inline">
			      <label class="control-label col-sm-2" for="email" style="color: white;">News Header:</label>
			      <div class="col-sm-6">
			        <input type="text" id="header" class="form-control newsinput" placeholder="Enter news" ng-model="header" style="width:60%">
			      </div>
			    </div>
			    <div class="form-group form-inline">
			      <label class="control-label col-sm-2" for="email" style="color: white;">Sub Header:</label>
			      <div class="col-sm-6">
			        <input type="text" id="subheader" class="form-control newsinput" placeholder="Enter header" ng-model="subheader" style="width:60%">
			      </div>
			    </div>
			    <div class="form-group form-inline">
			      <label class="control-label col-sm-2" for="pwd" style="color: white;">Category:</label>
			      <div class="col-sm-6">          
			        <input type="text" class="form-control" id="category"  placeholder="Enter category" ng-model="category" style="width:60%">
			      </div>
			    </div>
			    <div class="form-group form-inline">
			      <label class="control-label col-sm-2" for="pwd" style="color: white;">Select file:</label>
			      <div class="col-sm-6">          
			        <input type="file" ng-model="photo" class="imgupload" class="form-control" />
			      </div>
			    </div>
			    <div class="form-group form-inline">
			      <label class="control-label col-sm-2" for="email" style="color: white;">Content:</label>
			      <div class="col-sm-6">
			      	<textarea  placeholder="Write something.." id="content" ng-model="content" style="height:85px;border-radius:4px;width:90%"></textarea>
			        <div id="summernote"><p>Hello Summernote</p></div>
			      </div>
			    </div>
			    <div class="form-group">        
			      <div class="col-sm-offset-5 col-sm-7">
			        <button type="button" ng-click="newsclk()" class="btn btn-info" style="margin-left: 30%">Submit</button>
			      </div>
			    </div>
			</div>
        </div>
        </section> -->
        
        <section ng-controller="myCtrl">
         <div class="page-wrapper bg-dark p-t-100 p-b-50">
        <div class="wrapper wrapper--w900">
            <div class="card card-6">
                <div class="card-heading">
                    <h2 class="title" style="color:#3a3a3a">News Update</h2>
                </div>
                <div class="card-body" style="position: initial;">
                    <form>
                        <div class="form-row">
                            <div class="name">News Header</div>
                            <div class="value">
                                <input class="input--style-6" type="text" ng-model="header" name="full_name" placeholder="title">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Sub Header</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-6" type="text" ng-model="subheader" placeholder="sub title">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Category</div>
                            <div class="value">
                                <!-- <div class="input-group">
                                    <input class="input--style-6" type="text" ng-model="category" placeholder="Category">
                                </div> -->
                                <div class="input-group">
                                <select ng-model="category" ng-change="changecategory()" style="width:100%;height: 40px;">
                                	<option value="">Select Category</option>
                                	<option value="Latest News">Latest News</option>
                                	<option value="International News">International News</option>
                                	<option value="Entertainment News">Entertainment News</option>
                                	<option value="Politics">Politics</option>
                                	<option value="Life Style">Life Style</option>
                                	<option value="Sports News">Sports News</option>
                                	<option value="Education">Education</option>
                                	<option value="Health">Health</option>
                                </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Upload Image</div>
                            <div class="value">
                                <div class="input-group js-input-file">
                                     <input type="file" ng-model="photo" id="i_file" class="imgupload" class="form-control" />
                                     <img src="" width="200" style="display:none;" />
                                </div>
                                <div class="label--desc">Upload the News Image</div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Message</div>
                            <div class="value">
                                <div class="input-group">
                                    <textarea  class="textarea--style-6" id="content" ng-model="content" name="message" placeholder="News content...."></textarea>
                                </div>
                            </div>
                        </div>
                           <summer-note></summer-note>
                    </form>
                </div>
                <div class="card-footer">
                    <button type="button" ng-click="newsclk()" class="btn btn-info" style="margin-left: 23%">Submit</button>
                </div>
            </div>
        </div>
    </div>
       </section>
       <!--================ start footer Area  =================-->
   <script>
   $('.summernote').summernote({  
   });
   </script>	
<div id="footer" ng-include="'view/common/footer.html'"></div>
        
       
       