   <!--  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.no-icons.min.css"> -->
   	<div id="header" ng-include="'./view/common/adminheader.html'"></div> 
   	<link href="./css/bootstrap2-toggle.min.css">
   	    	    	
    	<div class="breadcumb-area section_padding_50">
	        <div class="container">
	            <div class="row">
	                <div class="col-12">
	                    <div class="breacumb-content d-flex align-items-center justify-content-between">
	                        <!-- Post Tag -->
	                        <div class="gazette-post-tag">
	                            <a href="#">Comment List</a>
	                        </div>
	                        <p class="page_link editorial-post-date text-dark mb-0">
	                        	<a href="#/index">Home</a> <span>&</span>
								<a href="#/commentlist">Comment List</a>
							</p>
	                    </div>
	                </div>
	            </div>
	        </div>
	     </div>
        
     	<div class="whole-wrap" ng-controller="myCtrl">
		 	<div class="container" >
       			<div class="section-top-border">
					<h3 class="mb-30 title_color">Comment List</h3>
					<table class="table table-striped">
					  <thead>
					    <tr>
					      <th scope="col">#</th>
					      <th scope="col">Name</th>
					      <th scope="col">Message</th>
					      <th scope="col">Remove</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr ng-repeat="cmntlist in commentdata">
					      <th scope="row">{{$index+1}}</th>
					      <td>{{cmntlist.name}}</td>
					      <td>{{cmntlist.message}}</td>
					      <td><i class="fa fa-trash" style="font-size:24px;color:red" ng-click="removecomment(cmntlist)"></i></td>
					    </tr>
					  </tbody>
					</table>
				</div>
			</div>
			
			</div>
		<!--================ start footer Area  =================-->	
		<script src="./css/bootstrap-toggle.min.js"></script>
		<div id="footer" ng-include="'view/common/footer.html'"></div>
