<style>
   .user-poll-section .progress {
        height: 5px;
   }
   .user-poll-section .panel {
       border-radius: 0px;
       -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
    }
</style>
<link href="./Froce-doc/css/bootstrap.css" rel="stylesheet" />
<div ng-controller="myCtrl">

        <!--================Choice Area =================-->
        <section class="choice_area p_120">
        	<div class="container">
        		<div class="main_title2">
        			<h2>Breaking News</h2>
        		</div>
        		<div class="row choice_inner">
        			<div class="col-lg-3 col-md-6" ng-model="news" ng-repeat="news in newslist | limitTo : 4">
        				<div class="choice_item">
        					<img class="img-fluid" src="https://s3.amazonaws.com/magazinebucket/Uploadimg/{{news.image}}" alt="" style="width: 263px;height: 197px;">
        					<div class="choice_text">
        						<div class="date">
        							<a ng-click="nxtview()" class="gad_btn" href="#newsdetails/{{news.newsid}}">More</a>
									<a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>{{dateFormat(news.dateandtime)}}</a>
									 <!-- <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>{{cmntlength}}</a> --> 
        						</div>
        						<a ng-click="nxtview()" href="#newsdetails/{{news.newsid}}"><h4 style="font-size:15px">{{news.header}}</h4></a>
        						<p style="font-size: 13px;">{{news.subheader}}</p>
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Choice Area =================-->
        
        <!--================News Area =================-->
        <section class="news_area">
        	<div class="container">
        		<div class="row">
        			<div class="col-lg-8">
        				<div class="main_title2">
							<h2>Latest News</h2>
						</div>
        				<div class="latest_news">
        					<div class="media" ng-repeat="latest in latestnews | limitTo : 4">
        						<div class="d-flex">
        							<img class="img-fluid" src="https://s3.amazonaws.com/magazinebucket/Uploadimg/{{latest.image}}" alt="" style="width: 300px;height: 200px;">
        						</div>
        						<div class="media-body">
        							<div class="choice_text">
										<div class="date">
											<a ng-click="nxtview()" class="gad_btn" href="#/newsdetails/{{latest.newsid}}">More</a>
											<a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>{{dateFormat(latest.dateandtime)}}</a>
											<!-- <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>05</a> -->
										</div>
										<a ng-click="nxtview()" href="#/newsdetails/{{latest.newsid}}"><h4 style="font-size:15px">{{latest.header}}</h4></a>
										<p style="font-size: 13px;">{{latest.subheader}}</p>
									</div>
        						</div>
        					</div>
        				</div>
        				
        				<div class="tavel_food mt-100">
        					<div class="main_title2">
								<h2>International News</h2>
							</div>
       						<div class="row">
       							<div class="col-lg-6">
       								<div class="row choice_small_inner">
       									<div class="col-lg-6 col-sm-6" ng-repeat="internews in internationalnews | limitTo : 6" ng-if="$middle">
       										<div class="choice_item small">
												<img class="img-fluid" src="https://s3.amazonaws.com/magazinebucket/Uploadimg/{{internews.image}}" alt="" style="width: 165px; height: 116px;">
												<div class="choice_text">
													<a ng-click="nxtview()" href="#/newsdetails/{{internews.newsid}}"><h4>{{internews.header}}</h4></a>
													<div class="date">
														<a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>{{dateFormat(internews.dateandtime)}}</a>
														<!-- <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>05</a> -->
													</div>
												</div>
											</div>
       									</div>
       								</div>
       							</div>
       							<div class="col-lg-6">
       								<div class="choice_item" ng-repeat="worldnews in internationalnews | limitTo : 1">
										<img class="img-fluid" src="https://s3.amazonaws.com/magazinebucket/Uploadimg/{{worldnews.image}}" alt="">
										<div class="choice_text">
											<div class="date">
												<a ng-click="nxtview()" class="gad_btn" href="#/newsdetails/{{worldnews.newsid}}">More</a>
												<a href="#/newsdetails/{{worldnews.newsid}}"><i class="fa fa-calendar" aria-hidden="true"></i>{{dateFormat(worldnews.dateandtime)}}</a>
												<!-- <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>05</a> -->
											</div>
											<a ng-click="nxtview()" href="#/newsdetails/{{worldnews.newsid}}"><h4 style="font-size: 15px;">{{worldnews.header}}</h4></a>
											<p style="font-size: 13px;">{{internews.subheader}}</p>
										</div>
									</div>
       							</div>
       						</div>
        				</div>
        				<div class="wedding_megazin mt-100">
        					<div class="main_title2">
								<h2>Entertainment News</h2>
							</div>
        					<div class="row">
        						<div class="col-sm-6" ng-repeat="movies in entertainement | limitTo : 2">
        							<div class="choice_item">
										<img class="img-fluid" src="https://s3.amazonaws.com/magazinebucket/Uploadimg/{{movies.image}}" alt="" style="width:360px; height: 224px;">
										<div class="choice_text">
											<div class="date">
												<a ng-click="nxtview()" class="gad_btn" href="#/newsdetails/{{movies.newsid}}">More</a>
												<a><i class="fa fa-calendar" aria-hidden="true"></i>{{dateFormat(movies.dateandtime)}}</a>
												<!-- <a><i class="fa fa-comments-o" aria-hidden="true"></i>05</a> -->
											</div>
											<a ng-click="nxtview()" href="#/newsdetails/{{movies.newsid}}"><h4 style="font-size: 15px;">{{movies.header}}</h4></a>
											<p style="font-size: 13px;">{{movies.subheader}}</p>
										</div>
									</div>
        						</div>
        						
        						<div class="col-lg-3 col-sm-6" ng-repeat="movies in entertainement | limitTo : 6"  ng-if="$middle" >
        							<div class="choice_item small">
										<img class="img-fluid" src="https://s3.amazonaws.com/magazinebucket/Uploadimg/{{movies.image}}" alt="" style="width:165px; height: 116px;" >
										<div class="choice_text">
											<a ng-click="nxtview()" href="#/newsdetails/{{movies.newsid}}"><h4>{{movies.header}}</h4></a>
											<div class="date">
												<a><i class="fa fa-calendar" aria-hidden="true"></i>{{dateFormat(movies.dateandtime)}}</a>
												<!-- <a><i class="fa fa-comments-o" aria-hidden="true"></i>05</a> -->
											</div>
										</div>
									</div>
        						</div>
        					</div>
        				</div>
        			</div>
        			
        			<div class="col-12 col-lg-4 col-md-6">
                    <div class="sidebar-area">
                        <!-- Breaking News Widget -->
                        <div class="breaking-news-widget">
                            <div class="widget-title">
                                <h5>breaking news</h5>
                            </div>
                            <!-- Single Breaking News Widget -->
                            <div class="single-breaking-news-widget" ng-repeat="bnews in breakingnews | limitTo : 1">
                                <img src="https://s3.amazonaws.com/magazinebucket/Uploadimg/{{bnews.image}}" alt="" style="width: 355px;height: 350px;">
                                <div class="breakingnews-title">
                                    <p>breaking news</p>
                                </div>
                                <div class="breaking-news-heading gradient-background-overlay">
                                    <h5 ng-click="nxtview()" class="font-pt">{{bnews.header}}</h5>
                                </div>
                            </div>
                            
                            <div ng-controller="PollCtrl">
                            <h4>Polling</h4>
                            <!-- <div class="single-breaking-news-widget" ng-repeat="pollview in polllist | limitTo : 1">
                            	
                                <div class="breaking-news-heading gradient-background-overlay">
                                    <h5 ng-click="nxtview()" class="font-pt">{{pollview.question}}</h5>
                                </div>
                            </div> -->
                            <div class="user-poll-section">
		                    <div class="panel panel-default" ng-repeat="pollview in polllist | limitTo : 1">
		                        <div class="panel-heading">
									<img src="https://s3.amazonaws.com/magazinebucket/Uploadimg/{{pollview.pollimage}}" alt="" style="width: 355px;height: 310px;">	</br>	                        
		                            <strong>Question : </strong>{{pollview.question}}
		                        </div>
		                        <div class="panel-body">
		                            <div class="radio">
		                                <label ng-click="answ1()" >
		                                    <input style="right: 48%;margin-top: 4px;" type="radio" name="group-poll">
		                                    <strong></strong>{{pollview.answer1}}
		                                </label>
		                            </div>
		                            <div class="radio">
		                                <label ng-click="answ2()">
		                                    <input type="radio" name="group-poll" style="right: 48%;margin-top: 4px;">
		                                    <strong></strong>{{pollview.answer2}}
		                                </label>
		                            </div>
		                            <div class="radio">
		                                <label ng-click="answ3()">
		                                    <input type="radio" name="group-poll" style="right: 48%;margin-top: 4px;">
		                                    <strong></strong>{{pollview.answer3}}
		                                </label>
		                            </div>
		                            <div ng-show="pollresult"> 
			                            <hr />
			                            <h5 class="text-danger">Result Of User Votes :</h5>
			                            <hr />
			                            {{pollview.answer1}} ({{percent1}}) :{{anscount1}}
			                               <div class="progress progress-striped active">
			                                   <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{percent1}}">
			                                       <span class="sr-only">60% Complete (success)</span>
			                                   </div>
			                               </div>
			                            {{pollview.answer2}} ({{percent2}}) :{{anscount2}}
			                               <div class="progress progress-striped active">
			                                   <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{percent2}}">
			                                       <span class="sr-only">30% Complete (success)</span>
			                                   </div>
			                               </div>
			                            {{pollview.answer3}} ({{percent3}}) :{{anscount3}}
			                               <div class="progress progress-striped active">
			                                   <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: {{percent3}}">
			                                       <span class="sr-only">10% Complete (success)</span>
			                                   </div>
			                               </div>
		                             </div>
		                        </div>
		                        <div class="panel-footer" ng-show="btnview">
		                            <a href="#" class="btn btn-success btn-sm" ng-click="clkvote()">Mark Your Vote</a>
		                        </div>
		                    </div>

                			</div>
                           </div>
                       </div>
						</br>
                        </div>
		
                        <!-- Don't Miss Widget -->
                        <div class="donnot-miss-widget">
                            <div class="widget-title">
                                <h5>Health</h5>
                            </div>
                            <!-- Single Don't Miss Post -->
                            <div class="single-dont-miss-post d-flex mb-30" ng-repeat="healthnews in health">
                                <div class="dont-miss-post-thumb">
                                    <img src="https://s3.amazonaws.com/magazinebucket/Uploadimg/{{healthnews.image}}" alt="">
                                </div>
                                <div class="dont-miss-post-content">
                                    <a ng-click="nxtview()" href="#/newsdetails/{{healthnews.newsid}}" class="font-pt">{{healthnews.header}}</a>
                                    <span>{{dateFormat(healthnews.dateandtime)}}</span>
                                </div>
                            </div>
                            <!-- Single Don't Miss Post -->
                        </div>
                        <!-- Advert Widget -->
                        <div class="advert-widget">
                            <div class="widget-title">
                                <h5>Advert</h5>
                            </div>
                            <div class="advert-thumb mb-30">
                                <a href="#"><img src="./img/add-1.jpg" alt=""></a>
                            </div>
                        </div>
                        <!-- Subscribe Widget -->
                        <div class="subscribe-widget">
                            <div class="widget-title">
                                <h5>subscribe</h5>
                            </div>
                            <div class="subscribe-form">
                                <form action="#">
                                    <input type="email" name="email" id="subs_email" placeholder="Your Email">
                                    <button type="submit">subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
        		</div>
        	</div>
        </section>
        <!--================End News Area =================-->
        
        <!--================Product List Area =================-->
        <section class="product_list_area p_100">
        	<div class="container">
        		<div class="row product_list_inner">
        			<div class="col-lg-4">
        				<div class="main_title2">
        					<h2>Sports News</h2>
        				</div>
        				<div class="product_list">
        					<div class="media" ng-repeat="sport in sports | limitTo : 4">
        						<div class="d-flex">
        							<img src="https://s3.amazonaws.com/magazinebucket/Uploadimg/{{sport.image}}" alt="" style="width:100px;height: 80px;">
        						</div>
        						<div class="media-body">
        							<div class="choice_text">
										<a ng-click="nxtview()" href="#/newsdetails/{{sport.newsid}}"><h4>{{sport.header}}</h4></a>
										<div class="date">
											<a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>{{dateFormat(sport.dateandtime)}}</a>
											<a href="#"><!-- <i class="fa fa-comments-o" aria-hidden="true"></i>05 --></a> 
										</div>
									</div>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-4">
        				<div class="main_title2">
        					<h2>Life&Style</h2>
        				</div>
        				<div class="product_list">
        					<div class="media" ng-repeat="style in lifestyle | limitTo : 4">
        						<div class="d-flex">
        							<img src="https://s3.amazonaws.com/magazinebucket/Uploadimg/{{style.image}}" alt="" style="width:100px;height: 80px;">
        						</div>
        						<div class="media-body">
        							<div class="choice_text">
										<a ng-click="nxtview()" href="#/newsdetails/{{style.newsid}}"><h4>{{style.header}}</h4></a>
										<div class="date">
											<a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>{{dateFormat(style.dateandtime)}}</a>
											<a href="#"><!-- <i class="fa fa-comments-o" aria-hidden="true"></i>05 --></a>
										</div>
									</div>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-4">
        				<div class="main_title2">
        					<h2>Politics</h2>
        				</div>
        				<div class="product_list">
        					<div class="media" ng-repeat="politic in politics | limitTo : 4">
        						<div class="d-flex">
        							<img src="https://s3.amazonaws.com/magazinebucket/Uploadimg/{{politic.image}}" alt="" style="width:100px;height: 80px;">
        						</div>
        						<div class="media-body">
        							<div class="choice_text">
										<a href="#/newsdetails/{{politic.newsid}}"><h4>{{politic.header.substr(0,100)}}</h4></a>
										<div class="date">
											<a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>{{dateFormat(politic.dateandtime)}}</a>
											 <a href="#"><!-- <i class="fa fa-comments-o" aria-hidden="true"></i>05 --></a> 
										</div>
									</div>
        						</div>
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
      </div>
      <div id="footer" ng-include="'view/common/footer.html'"></div>