	 <!-- <div id="header" ng-include="'./view/common/header.html'"></div> -->
	 <div ng-controller="myCtrl"> 
		<div class="breadcumb-area section_padding_50">
	        <div class="container">
	            <div class="row">
	                <div class="col-12">
	                    <div class="breacumb-content d-flex align-items-center justify-content-between">
	                        <!-- Post Tag -->
	                        <div class="gazette-post-tag">
	                            <a href="#">Login</a>
	                        </div>
	                        <p class="page_link editorial-post-date text-dark mb-0">
	                        	<a href="#/index">Home</a> <span>&</span>
								<a href="#/login">Login</a>
							</p>
	                    </div>
	                </div>
	            </div>
	        </div>
	     </div>
        
       <!-- In this file has in mail -->
	<div class="limiter" >
		<div class="container-login100">
			<div class="wrap-login100 p-t-85 p-b-20">
				<form class="login100-form validate-form">
					<span class="login100-form-title p-b-70">
						LOGIN
					</span>
					<span class="login100-form-avatar">
						<img src="img/magazineloginlogo.jpg" alt="AVATAR">
					</span>

					<div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Enter username">
						<input class="input100" type="text" ng-model="user" name="username" placeholder="username">
						<!-- <span class="focus-input100" data-placeholder="Username"></span> -->
					</div>

					<div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
						<input class="input100" type="password" ng-model="pwd" name="pass" placeholder="password">
						<!-- <span class="focus-input100" data-placeholder="Password"></span> -->
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" ng-click="loginbtn()"> 
							Login
						</button>
					</div>

					<ul class="login-more p-t-190">
						<li class="m-b-8">
							<span class="txt1">
								Forgot
							</span>

							<a href="#" class="txt2">
								Username / Password?
							</a>
						</li>

						<li>
							<span class="txt1">
								Don’t have an account?
							</span>

							<a href="#" class="txt2">
								Sign up
							</a>
						</li>
					</ul>
				</form>
			</div>
		</div>
	</div>
	
		<div id="dropDownSelect1"></div>
	
	</div>
      <div id="footer" ng-include="'view/common/footer.html'"></div>