   <!--  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.no-icons.min.css"> -->
   	<div id="header" ng-include="'./view/common/adminheader.html'"></div> 
   	<link href="./css/bootstrap2-toggle.min.css">
     	<style>
     		.pagination ul>li{
     			display: inline;
     		}
     		.pagination ul>li>a, .pagination ul>li>span{
     			float: left;
			    padding: 0 14px;
			    line-height: 38px;
			    text-decoration: none;
			    background-color: #ffffff;
			    border: 1px solid #dddddd;
			    border-left-width: 0px;
     		}
     		.pagination ul>li:first-child>a, .pagination ul>li:first-child>span{
     			border-left-width: 1px;
     		}
     		
     	.switch {
      position: relative;
      /* display: block; */
      vertical-align: top;
      width: 100px;
      height: 30px;
      padding: 3px;
      margin: 0 10px 10px 0;
      background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
      background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
      border-radius: 18px;
      box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
      cursor: pointer;
    }
    .switch-input {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }
    .switch-label {
      position: relative;
      display: block;
      height: inherit;
      font-size: 10px;
      text-transform: uppercase;
      background: #eceeef;
      border-radius: inherit;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
    }
    .switch-label:before, .switch-label:after {
      position: absolute;
      top: 50%;
      margin-top: -.5em;
      line-height: 1;
      -webkit-transition: inherit;
      -moz-transition: inherit;
      -o-transition: inherit;
      transition: inherit;
    }
    .switch-label:before {
      content: attr(data-off);
      right: 11px;
      color: #aaaaaa;
      text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    }
    .switch-label:after {
      content: attr(data-on);
      left: 11px;
      color: #FFFFFF;
      text-shadow: 0 1px rgba(0, 0, 0, 0.2);
      opacity: 0;
    }
    .switch-input:checked ~ .switch-label {
   	  background: #6FB97B;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
    }
    .switch-input:checked ~ .switch-label:before {
      opacity: 0;
    }
    .switch-input:checked ~ .switch-label:after {
      opacity: 1;
    }
    .switch-handle {
      position: absolute;
      top: 4px;
      left: 4px;
      width: 28px;
      height: 28px;
      background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
      background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
      border-radius: 100%;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    }
    .switch-handle:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -6px 0 0 -6px;
      width: 12px;
      height: 12px;
      background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
      background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
      border-radius: 6px;
      box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
    }
    .switch-input:checked ~ .switch-handle {
      left: 74px;
      box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
    }
    /* Transition
        ========================== */
    .switch-label, .switch-handle {
      transition: All 0.3s ease;
      -webkit-transition: All 0.3s ease;
      -moz-transition: All 0.3s ease;
      -o-transition: All 0.3s ease;
    }
     	</style>
     	
    	<div class="breadcumb-area section_padding_50">
	        <div class="container">
	            <div class="row">
	                <div class="col-12">
	                    <div class="breacumb-content d-flex align-items-center justify-content-between">
	                        <!-- Post Tag -->
	                        <div class="gazette-post-tag">
	                            <a href="#">News List</a>
	                           
	                        </div>
	                        <p class="page_link editorial-post-date text-dark mb-0">
	                        	<a href="#/index">Home</a> <span>&</span>
								<a href="#/newslist">News List</a>
							</p>
	                    </div>
	                </div>
	            </div>
	        </div>
	     </div>
        
     	<div class="whole-wrap" ng-controller="myCtrl">
		 	<div class="container" ng-show="activeview">
       			<div class="section-top-border">
       					<div>
	                        <span><h3>News List</h3></span>
							<span><h6 style="position: sticky;text-align: right;bottom: 74%;"><button class="btn btn-info" ng-click="deactnewsview()">Deactive News</button></h4></span>
	                    </div>
					<table class="table table-striped" style="position: relative; margin-top: 40px;">
					  <thead>
					    <tr>
					      <th scope="col">#</th>
					      <th scope="col">News Header</th>
					      <th scope="col">News Category</th>
					      <th scope="col">Edit</th>
					      <th scope="col">Action</th>
					    </tr>
					  </thead>
					  <tfoot>
				            <td colspan="6">
				                <div class="pagination pull-right">
				                    <ul>
				                       <li ng-class="{disabled: currentPage == 0}"> <a href ng-click="prevPage()"> Prev</a>
				                       </li>
				                       <li ng-repeat="n in range(pagedItems.length, currentPage, currentPage + gap) " ng-class="{active: n == currentPage}" ng-click="setPage()"> <a href ng-bind="n + 1" >1</a>
				                       </li>
				                       <li ng-class="{disabled: (currentPage) == pagedItems.length - 1}"> <a href ng-click="nextPage()">Next </a>
				                        </li>
				                    </ul>
				                </div>
				            </td>
				      </tfoot> 
					  <tbody>
					    <tr ng-repeat="item in pagedItems[currentPage] | orderBy:sort.sortingOrder:sort.reverse">
					      <th scope="row">{{item.newsid}}</th>
					      <td>{{item.header}}</td>
					      <td>{{item.category}}</td>
					      <td><i class="fa fa-edit" style="font-size:24px;color:red" data-toggle="modal" ng-click="editcontent(item)" data-target="#myModal"></i></td>
					      <td><i class="fa fa-trash" style="font-size:24px;color:red" ng-click="removenews(item)"></i>
						      	<!-- <div ng-if="item.status=='A'"><label class="switch">
								<input class="switch-input" status="{{item.status}}" name="checkedBox" type="checkbox" ng-click="changeStatus(item)" checked />
								<span class="switch-label" data-on="Act" data-off="De-Act"></span> <span class="switch-handle"></span> 
								</label></div>
								<div ng-if="item.status=='D'"><label class="switch">
								<input class="switch-input" status="{{item.status}}" name="checkedBox" type="checkbox" ng-click="changeStatus(item)"  checked />
								<span class="switch-label" data-on="Act" data-off="De-Act"></span> <span class="switch-handle"></span> 
								</label></div> -->
						  </td>
					    </tr>
					  </tbody>
					</table>
				</div>
			</div>
			
			<div class="container" ng-show="deactiveview">
       			<div class="section-top-border">
       					<div>
	                        <span><h3>News List</h3></span>
							<span><h6 style="position: sticky;text-align: right;bottom: 74%;"><button class="btn btn-info" ng-click="actnewsview()">Active News</button></h4></span>
	                    </div>
					<table class="table table-striped" style="position: relative; margin-top: 40px;">
					  <thead>
					    <tr>
					      <th scope="col">#</th>
					      <th scope="col">News Header</th>
					      <th scope="col">News Category</th>
					      <th scope="col">Action</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr ng-repeat="deact in getdeactivenews">
					      <th scope="row">{{deact.newsid}}</th>
					      <td>{{deact.header}}</td>
					      <td>{{deact.category}}</td>
					      <td><button class="btn btn-primary" ng-click="removenews(deact)">Active</button></td>
					    </tr>
					  </tbody>
					</table>
				</div>
			</div>
				
				<!-- Modal -->
				<div class="modal fade" id="myModal" role="dialog">
				    <div class="modal-dialog modal-lg">
				      <div class="modal-content">
				        <div class="modal-header" style="display: unset !important;">
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				          <h4 class="modal-title">News Update</h4>
				        </div>
				        <div class="modal-body">
				          <div class="page-wrapper bg-dark p-t-100 p-b-50" style="padding-top: 0px; padding-bottom:0px;min-height:0px;">
						        <div class="wrapper wrapper--w900">
						            <div class="card card-6">
						                <div class="card-body">
						                    <form>
						                        <div class="form-row">
						                            <div class="name">News Header</div>
						                            <div class="value">
						                                <input class="input--style-6" type="text" value="{{headername}}" ng-model="headername" name="full_name" placeholder="title">
						                            </div>
						                        </div>
						                        <div class="form-row">
						                            <div class="name">Sub Header</div>
						                            <div class="value">
						                                <div class="input-group">
						                                    <input class="input--style-6" type="text" value="{{subheader}}" ng-model="subheader" placeholder="sub title">
						                                </div>
						                            </div>
						                        </div>
						                        <div class="form-row">
						                            <div class="name">Category</div>
						                            <div class="value">
						                                <div class="input-group">
						                                    <!-- <input class="input--style-6" type="text" value="{{category}}" ng-model="category" placeholder="Category"> -->
						                                    <select ng-model="category" value="{{category}}" ng-change="changecategory(category)" style="width:100%;height: 40px;">
							                                	<option value="Latest News">Latest News</option>
							                                	<option value="International News">International News</option>
							                                	<option value="Entertainment News">Entertainment News</option>
							                                	<option value="Politics">Politics</option>
							                                	<option value="Life Style">Life Style</option>
							                                	<option value="Sports News">Sports News</option>
							                                	<option value="Education">Education</option>
							                                	<option value="Health">Health</option>
							                                </select>
						                                </div>
						                            </div>
						                        </div>
						                        <div class="form-row">
						                            <div class="name">Upload Image</div>
						                            <div class="value">
						                                <div class="input-group js-input-file">
						                                     <input type="file" ng-model="photos" id="i_file"  value="{{photos}}" class="imgupload" class="form-control" />{{photos}}
						                                    <!--  <input type="image" src="./OpenFile?r1=serverpath&r2={{photos}}" style="width: 100px;height: 100px;"> -->
						                                     <img id="viewimg" style="width: 100px;height: 100px;" src="https://s3.amazonaws.com/magazinebucket/Uploadimg/{{photos}}"/>
						                                     
						                                </div>
						                                <div class="label--desc">Upload the News Image</div>
						                            </div>
						                        </div> 
						                        <div class="form-row">
						                            <div class="name">Message</div>
						                            <div class="value">
						                                <div class="input-group">
						                                    <textarea  class="textarea--style-6" id="content" value="{{content}}" ng-model="content" name="message" placeholder="News content...."></textarea>
						                                </div>
						                            </div>
						                        </div>
						                           <summer-note></summer-note>
						                    </form>
						                </div>
						                <div class="card-footer">
						                    <button type="button" ng-click="newsupdate()" class="btn btn-info" style="margin-left: 27%">Submit</button>
						                </div>
						            </div>
						        </div>
						    </div>
				        </div>
				        <div class="modal-footer">
				         <!--  <button type="button" class="btn btn-info" >Save</button> -->
				          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				        </div>
				      </div>
				    </div>
				  </div> 
				<!-- Modal -->
				
			</div>
		<!--================ start footer Area  =================-->	
		<script src="./css/bootstrap-toggle.min.js"></script>
		<div id="footer" ng-include="'view/common/footer.html'"></div>
