    <!-- <div id="header" ng-include="'./view/common/header.html'"></div>  -->
     <!--================Home Banner Area =================-->
     
     <div ng-controller="contCtrl">
     
     	
        <section class="banner_area">
	        <div class="single-post-title bg-img background-overlay" style="background-image: url(./img/1.jpg);">
	            <div class="container h-100">
	                <div class="row h-100 align-items-end">
	                    <div class="col-12">
	                        <div class="single-post-title-content">
	                            <!-- Post Tag -->
	                            <div class="gazette-post-tag">
	                                <a href="#">{{newscategory}}</a>
	                            </div>
	                            <h2 class="font-pt">{{newsheader}}</h2>
	                            <div>
		                            <p>{{dateFormats(datetime)}}</p>
		                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
        
            <!-- <div class="banner_inner d-flex align-items-center">	
            	<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
				<div class="container">
					<div class="banner_content text-center" ng-model="news">
						<img src="./img/imgbar1.PNG" />
						<h2>{{newscategory}}</h2>
						<div class="text-block">
							<a href="#">Home</a>
							<a href="">{{newscategory}}</a>
						</div>
					</div>
				</div>
            </div> -->
        </section>
        <!--================End Home Banner Area =================-->
        <!--================News Area =================-->
        <section class="news_area single-post-area p_100">
        	<div class="container">
        		<div class="row">
        			<div class="col-lg-8">
       					<div class="main_blog_details">
       						<img class="img-fluid" src="https://s3.amazonaws.com/magazinebucket/Uploadimg/{{newsimage}}" alt="" style="width: 750px; height: 341px;"></br>
       						<!-- <a href="#"><h4>{{newsheader}}</h4></a> -->
       						 <div class="user_details">
       							<!-- <div class="float-left">
       								<a href="#">Lifestyle</a>
       								<a href="#">Gadget</a>
       							</div>
       							<div class="float-right">
       								<div class="media">
       									<div class="media-body">
       										<h5>Mark wiens</h5>
       										<p>12 Dec, 2017 11:21 am</p>
       									</div>
       									<div class="d-flex">
       										<img src="img/blog/user-img.jpg" alt="">
       									</div>
       								</div>
       							</div> -->
       						</div> 
       						<div >
       							<p ng-bind-html="newscontent|lineBreak"></p> <!-- {{newscontent}} -->
       						</div>
      						<!-- <div class="news_d_footer">
      							<a href="#"><i class="lnr lnr lnr-heart"></i>Lily and 4 people like this</a>
      							<a class="justify-content-center ml-auto" href="#"><i class="lnr lnr lnr-bubble"></i>06 Comments</a>
      							<div class="news_socail ml-auto">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-youtube-play"></i></a>
									<a href="#"><i class="fa fa-pinterest"></i></a>
									<a href="#"><i class="fa fa-rss"></i></a>
								</div>
      						</div> -->
       					</div>
       					<!-- <div class="navigation-area">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                                    <div class="thumb">
                                        <a href="#"><img class="img-fluid" src="img/blog/prev.jpg" alt=""></a>
                                    </div>
                                    <div class="arrow">
                                        <a href="#"><span class="lnr text-white lnr-arrow-left"></span></a>
                                    </div>
                                    <div class="detials">
                                        <p>Prev Post</p>
                                        <a href="#"><h4>Space The Final Frontier</h4></a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                                    <div class="detials">
                                        <p>Next Post</p>
                                        <a href="#"><h4>Telescopes 101</h4></a>
                                    </div>
                                    <div class="arrow">
                                        <a href="#"><span class="lnr text-white lnr-arrow-right"></span></a>
                                    </div>
                                    <div class="thumb">
                                        <a href="#"><img class="img-fluid" src="img/blog/next.jpg" alt=""></a>
                                    </div>										
                                </div>									
                            </div>
                        </div> --><hr>
                        <div class="comments-area">
                            <h4>{{cmntlength}} Comments</h4>
                            <div ng-show="commentview"  class="comment-list" ng-repeat="clist in commentview">
                                <div class="single-comment justify-content-between d-flex" >
                                    <div class="user justify-content-between d-flex" >
                                        <div class="thumb">
                                            <img src="./img/manicon.png" alt="" style="width:75px;height:75px;">
                                        </div>
                                        <div class="desc">
                                            <h5><a href="#">{{clist.name}}</a></h5>
                                            <p class="date" >{{dateFormat(clist.dateandtime)}}</p>
                                            <p class="comment">
                                                {{clist.message}}
                                            </p>
                                        </div>
                                    </div>
                                    <!-- <div class="reply-btn">
                                           <a href="" class="btn-reply text-uppercase">reply</a> 
                                    </div> -->
                                </div>	
                            </div>
                            <div ng-show="nocmntview">No comments</div>	                                             				
                        </div>
                        <div class="comment-form">
                            <h4>Leave a Reply</h4>
                            <form>
                                <div class="form-group form-inline">
                                  <div class="form-group col-lg-6 col-md-6 name">
                                    <input type="text" class="form-control" id="name" placeholder="Enter Name" ng-model="name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Name'" style="width:100%;background: #f3f3f3">
                                  </div>
                                  <div class="form-group col-lg-6 col-md-6 email">
                                    <input type="email" class="form-control" id="email" placeholder="Enter email address" ng-model="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" style="width:100%;background: #f3f3f3">
                                  </div>										
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control mb-10" rows="5" name="message" placeholder="Messege" ng-model="message" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required="" style="background: #f3f3f3"></textarea>
                                </div>
                                <a  ng-click="savecmnt()" class="primary-btn submit_btn">Post Comment</a>	
                            </form>
                        </div>
        			</div>
        			<div class="col-lg-4">
        				<div class="right_sidebar">
        					<aside class="r_widgets news_widgets">
        						<div class="main_title2">
        							<h2>Most Popular News</h2>
        						</div>
        						<div class="choice_item">
									<img class="img-fluid" src="https://s3.amazonaws.com/magazinebucket/Uploadimg/{{nxtimage}}" alt="">
									<div class="choice_text">
										<div class="date">
											<a class="gad_btn" href="#/newsdetails/{{nxtid}}">More</a>
											<a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>{{dateFormats(nxtdate)}}</a>
											<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>05</a>
										</div>
										<a href="#/newsdetails/{{nxtid}}"><h4>{{nxtheader}}</h4></a>
										<p>{{nxtsubheader}}</p>
									</div>
								</div>
       							<div class="news_slider owl-carousel">
       								<div class="item">
       									<div class="choice_item">
											<img src="img/blog/popular-post/pp-2.jpg" alt="">
											<div class="choice_text">
												<a href="#"><h4>Dealing With Technical Support 10 with Useful Tips around</h4></a>
												<div class="date">
													<a href="#"><i class="fa fa-calendar" aria-hidden="true"></i></a>
													<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>05</a>
												</div>
											</div>
										</div>
       								</div>
       								<div class="item">
       									<div class="choice_item">
											<img src="img/blog/popular-post/pp-3.jpg" alt="">
											<div class="choice_text">
												<a href="#"><h4>An Ugly Myspace Profile Will Sure Ruin Your Reputation</h4></a>
												<div class="date">
													<a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>March 14, 2018</a>
													<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>05</a>
												</div>
											</div>
										</div>
       								</div>
       								<div class="item">
       									<div class="choice_item">
											<img src="img/blog/popular-post/pp-2.jpg" alt="">
											<div class="choice_text">
												<a href="#"><h4>Dealing With Technical Support 10 with Useful Tips around</h4></a>
												<div class="date">
													<a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>March 14, 2018</a>
													<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>05</a>
												</div>
											</div>
										</div>
       								</div>
       								<div class="item">
       									<div class="choice_item">
											<img src="img/blog/popular-post/pp-3.jpg" alt="">
											<div class="choice_text">
												<a href="#"><h4>An Ugly Myspace Profile Will Sure Ruin Your Reputation</h4></a>
												<div class="date">
													<a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>March 14, 2018</a>
													<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>05</a>
												</div>
											</div>
										</div>
       								</div>
       							</div>
        					</aside>
        					<aside class="r_widgets add_widgets text-center">
        						<img class="img-fluid" src="img/add-1.jpg" alt="">
        					</aside>
        					<aside class="r_widgets social_widgets">
        						<div class="main_title2">
        							<h2>Social Networks</h2>
        						</div>
        						<ul class="list">
        							<li><a href="#"><i class="fa fa-facebook"></i> 983Likes <span>Like our page</span></a></li>
        							<li><a href="#"><i class="fa fa-twitter"></i> 983Followers <span>Follow Us</span></a></li>
        							<li><a href="#"><i class="fa fa-youtube-play"></i> 9835Subscriber <span>Subscribe</span></a></li>
        							<li><a href="#"><i class="fa fa-vimeo"></i> 59874Subscriber <span>Subscribe</span></a></li>
        							<li><a href="#"><i class="fa fa-pinterest"></i> 36958Followers <span>Follow Us</span></a></li>
        							<li><a href="#"><i class="fa fa-rss"></i>RSS Subscribe <span>Subscribe</span></a></li>
        						</ul>
        					</aside>
        					<aside class="r_widgets newsleter_widgets">
        						<div class="main_title2">
        							<h2>Newsletter</h2>
        						</div>
        						<div class="nsl_inner">
        							<i class="fa fa-envelope"></i>
        							<h4>Subscribe to our Newsletter</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua adipisicing</p>
									<div class="form-group d-flex flex-row">
										<div class="input-group">
											<input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter your email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'">
										</div>
										<a href="#" class="bbtns">Subcribe</a>
									</div>	
        						</div>
        					</aside>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End News Area =================-->
     </div>
      <div id="footer" ng-include="'view/common/footer.html'"></div>