<!-- Breadcumb Area Start -->
<div ng-controll="myCtrl">
    <div class="breadcumb-area section_padding_50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breacumb-content d-flex align-items-center justify-content-between">
                        <!-- Post Tag -->
                        <div class="gazette-post-tag">
                            <a href="#">{{catename}}</a>
                        </div>
                       <!--  <p class="editorial-post-date text-dark mb-0">March 29, 2016</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcumb Area End -->

    <!-- Editorial Area Start -->

    <section class="catagory-welcome-post-area section_padding_100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4" ng-repeat="catename in categoryname">
                    <!-- Gazette Welcome Post -->
                    <div class="gazette-welcome-post">
                        <!-- Post Tag -->
                        <div class="gazette-post-tag">
                            <a href="#">{{catename.category}}</a>
                        </div>
                        <h2 class="font-pt" style="font-size: 20px; height: 60px;">{{catename.header}}</h2>
                        <p class="gazette-post-date" style="margin-top: 25%;">{{dateFormat(catename.dateandtime)}}</p>
                        <!-- Post Thumbnail -->
                        <div class="blog-post-thumbnail my-5">
                            <img src="https://s3.amazonaws.com/magazinebucket/Uploadimg/{{catename.image}}" alt="post-thumb" style="width: 350px !important;height: 205px;">
                        </div>
                        <!-- Post Excerpt -->
                        <p style="height: 98px;">{{catename.subheader}}</p>
                        <!-- Reading More -->
                        <div class="post-continue-reading-share mt-30">
                            <div class="post-continue-btn">
                                <a href="#/newsdetails/{{catename.newsid}}" class="font-pt">Continue Reading <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="row">
                <div class="col-12">
                    <div class="gazette-pagination-area">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#">5</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next"><i class="fa fa-angle-right"></i></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div> -->
        </div>
    </section>
    </div>
    <div id="footer" ng-include="'view/common/footer.html'"></div>