   <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" data-semver="3.2.0" data-require="bootstrap-css@3.2.0" />
   <script src="https://code.angularjs.org/1.4.9/angular.js" data-semver="1.4.9" data-require="angular.js@*"></script>
   <script src="https://cdn.rawgit.com/danialfarid/ng-file-upload/4cdec8f23fbb2558870b769d5ae59e03c3ab0e44/dist/ng-file-upload.js" data-semver="10.1.19" data-require="ng-file-upload@10.1.19"></script>
   
   <div id="header" ng-include="'./view/common/adminheader.html'"></div> 
	    <div class="breadcumb-area section_padding_50">
		    <div class="container">
		        <div class="row">
		            <div class="col-12">
		                <div class="breacumb-content d-flex align-items-center justify-content-between">
		                      <!-- Post Tag -->
		                    <div class="gazette-post-tag">
		                         <a href="#/polling">Polling</a>
		                    </div>
		                    <p class="page_link editorial-post-date text-dark mb-0">
		                   	<a href="#/index">Home</a> <span>&</span>
							<a href="#/polling">Polling</a>
						</p>
		             </div>
		         </div>
		      </div>
		   </div>
	   </div>
    	</br>
	   <section ng-controller="PollCtrl">
	   <div class="container">
	      <div class="row">
	        <div class="col-md-7">
	          <form novalidate="" class="survey form ">
	             
	            
	             <div class="col-md-12 well" id="questions" >
	              <span class="btn btn-danger pull-right" title="Remove this question"  ng-if="$index > 0">X</span>
		              <div class="form-group">
		                <h3>Question {{ $index+1 }}</h3>
		                <input type="text" class="form-control" ng-model="question" name="" placeholder="Enter a question" />
		              </div>
	              <div class="row">
	                <div class="col-xs-10" id="answers" >
	                  <div class="form-group">
	                    <label for="answer" class="control-label">Answer 1</label>
	                    <div class="input-group col-md-12">
	                      	<input type="text" required="" placeholder="Type answer here" class="form-control input-sm" name="" ng-model="answer1" />
		                    <span class="input-group-btn">
	                          <button class="btn btn-danger btn-sm" type="button" title="Remove this answer" ng-show="$index > 1">X</button>
	                      	</span>
	                    </div>
	                  </div>
	                  <div class="form-group">
	                    <label for="answer" class="control-label">Answer 2</label>
	                    <div class="input-group col-md-12">
	                      	<input type="text" required="" placeholder="Type answer here" class="form-control input-sm" name="" ng-model="answer2" />
		                    <span class="input-group-btn">
	                          <button class="btn btn-danger btn-sm" type="button" title="Remove this answer" ng-show="$index > 1">X</button>
	                      	</span>
	                    </div>
	                  </div>
	                  <div class="form-group">
	                    <label for="answer" class="control-label">Answer 3</label>
	                    <div class="input-group col-md-12">
	                      	<input type="text" required="" placeholder="Type answer here" class="form-control input-sm" name="" ng-model="answer3" />
		                    <span class="input-group-btn">
	                          <button class="btn btn-danger btn-sm" type="button" title="Remove this answer" ng-show="$index > 1">X</button>
	                      	</span>
	                    </div>
	                  </div>
	                  <div class="form-group">
		                  <div class="input-group js-input-file">
			             	<button class="btn btn-default" >
			                    <input type="file" ng-model="photo" id="i_file" class="imgupload" class="form-control" />
			                </button>
			             	<img src="" width="200" style="display:none;" />
			              </div>
		              </div>
	                  <button class="btn btn-primary btn-sm" ng-show="$last" ng-click="addNewAnswer()" ng-if="question.answers.length <= 4">+ Add another answer</button>
	                  <button class="btn btn-info btn-md" ng-click="savepoll()" >Save</button>
	                </div>
	              </div>
	            </div>
	            
	            <div class="clearfix"></div>
	            <!-- <button class="btn btn-primary" ng-click="addNewQuestion()" ng-if="survey.questions.length <= 9">+ Add another question</button> -->
	            <!--<div class="col-md-12">
	              <br />
	              <b>Data</b>
	              <pre>{{ survey | json }}</pre>
	            </div>-->
	          </form>
	        </div>
	        <div class="col-md-5 preview" ng-controller="FormCtrl">
	          <button class="btn btn-lg btn-success" ng-click="togglePreview()">Preview</button>
	          <div class="well" ng-if="preview">
	            <form id="poll">
	              <h2>Polling</h2>
	              <div class="pollimg" ngf-background="formData.file"></div>
	              <fieldset ng-repeat="question in formData.questions" ng-show="$index == step">
	                <h3>{{question.title || 'Question ' + question.id}}</h3>
	                <div class="radio" ng-repeat="answer in question.answers">
	                  <label>
	                    <input type="radio" ng-model="textanwer" name="optionsRadios{{answer.id}}" id="optionsRadios{{answer.id}}" value="option{{answer.id}}" />
	
	 {{answer.title || 'Answer ' + answer.id}}
	                </label>
	                </div>
	              </fieldset>
	              <div class="formnav row">
	                <button class="btn btn-primary btn-sm col-md-4" ng-show="step > 0" ng-click="setStep(-1)">Previous Question</button>
	                <button class="btn btn-primary btn-sm col-md-4 pull-right" ng-hide="step == formData.questions.length -1" ng-if="formData.questions[step].answer" ng-click="setStep(1)">Next Question</button>
	                <div class="clearfix"></div>
	                <button id="submit" class="btn btn-success btn-block btn-lg" ng-show="(step + 1 == formData.questions.length) && formData.questions[step].answer" ng-click="">Submit</button>
	              </div>
	            </form>
	            <!-- <b>Data</b>
	          <pre>{{ formData | json }}</pre>
	          Step: {{step}} -->
	          </div>
	        </div>
	      </div>
	    </div>
	    </section></br>
    <div id="footer" ng-include="'view/common/footer.html'"></div>