<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>bootstrap4</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../vendors/linericon/style.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="../vendors/lightbox/simpleLightbox.css">
    <link rel="stylesheet" href="../vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="../vendors/animate-css/animate.css">
    <link rel="stylesheet" href="../vendors/jquery-ui/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-lite.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-lite.js"></script>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
  <header id="header" class="header_area"><!-- style="position: relative;" -->
            <div class="top_menu">
            	<div class="container">
            		<div class="float-left">
						<a href="#">Wednesday, March 14, 2018</a>
					</div>
					<div class="float-right">
						<ul class="list header_social">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fa fa-behance"></i></a></li>
						</ul>
					</div>
            	</div>
            </div>
            <div class="logo_part">
            	<div class="container">
            		<div class="float-left">
						<a class="logo" href="#"><img src="img/logo.png" alt=""></a>
					</div>
					<div class="float-right">
						<div class="header_magazin">
							<img src="img/header-magazin.png" alt="">
						</div>
					</div>
            	</div>
            </div>
			<div class="main_menu">
				<nav class="navbar navbar-expand-lg navbar-light">
					<div class="container">
						<div class="container_inner">
							<!-- Brand and toggle get grouped for better mobile display -->
							<a class="navbar-brand logo_h" href="index.html"><img src="img/logo.png" alt=""></a>
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
								<ul class="nav navbar-nav menu_nav">
									<li class="nav-item active"><a class="nav-link" href="#/index">Home</a></li> 
									<li class="nav-item"><a class="nav-link" href="#/newslist">News List</a></li>
									<li class="nav-item"><a class="nav-link" href="archive.html">Comment List </a></li>
									<li class="nav-item"><a class="nav-link" href="elements.html">Elements</a></li>
									<li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
									<li class="nav-item"><a class="nav-link" href="#/login">Logout</a></li>
								</ul>
								<ul class="nav navbar-nav navbar-right ml-auto">
									<div class="input-group">
									  <span class="input-group-addon">
									      <i class="fa fa-search" aria-hidden="true"></i>
									  </span>
									</div>
								</ul>
							</div> 
						</div>
					</div>
				</nav>
			</div>
        </header>
  <section ng-controller="myCtrl">
         <div class="page-wrapper bg-dark p-t-100 p-b-50">
        <div class="wrapper wrapper--w900">
            <div class="card card-6">
                <div class="card-heading">
                    <h2 class="title">News Update</h2>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-row">
                            <div class="name">News Header</div>
                            <div class="value">
                                <input class="input--style-6" type="text" ng-model="header" name="full_name" placeholder="title">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Sub Header</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-6" type="text" ng-model="subheader" placeholder="sub title">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Category</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-6" type="text" ng-model="category" placeholder="Category">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Upload Image</div>
                            <div class="value">
                                <div class="input-group js-input-file">
                                     <input type="file" ng-model="photo" class="imgupload" class="form-control" />
                                </div>
                                <div class="label--desc">Upload the News Image</div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Message</div>
                            <div class="value">
                                <div class="input-group">
                                    <textarea  class="textarea--style-6" ng-model="content" name="message" placeholder="News content...."></textarea>
                                </div>
                            </div>
                        </div>
                          <div id="summernote"></div>
                    </form>
                </div>
                <div class="card-footer">
                    <button type="button" ng-click="newsclk()" class="btn btn-info" style="margin-left: 23%">Submit</button>
                </div>
            </div>
        </div>
    </div>
       </section>
       
       <!--================ start footer Area  =================-->	
        <footer id="footer" class="footer-area">
            <div class="container">
                <div class="row f_widgets_inner">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-footer-widget ab_widgets">
                           <img src="img/footer-logo.png" alt=""> 
                           <p>Technology and gadgets Adapter (MPA) is our favorite iPhone solution, since it lets you use the headphones you’re most comfortable with. It has an iPhone-compatible jack at one end and a microphone module with an Answer/End/Pause button and a female 3.5mm audio jack for connectingheadphones</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <div class="f_title">
                            	<h3>Quick Links</h3>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <ul class="list">
                                        <li><a href="#">Sitemaps</a></li>
                                        <li><a href="#">Categories</a></li>
                                        <li><a href="#">Archives</a></li>
                                        <li><a href="#">Advertise</a></li>
                                        <li><a href="#">Ad Choice</a></li>
                                    </ul>
                                </div>
                                <div class="col-6">
                                    <ul class="list">
                                        <li><a href="#">Privacy Policy</a></li>
                                        <li><a href="#">Terms of Use</a></li>
                                        <li><a href="#">Help Center</a></li>
                                        <li><a href="#">Newsletters</a></li>
                                        <li><a href="#">Feedback</a></li>
                                    </ul>
                                </div>										
                            </div>							
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-footer-widget m_news_widgets">
                            <div class="f_title">
                            	<h3>Most Viewed News</h3>
                            </div>
                            <div class="m_news">
                            	<div class="media">
                            		<div class="d-flex">
                            			<img src="img/product/product-13.jpg" alt="">
                            		</div>
                            		<div class="media-body">
                            			<a href="#"><h4>Converter Ipod Video Taking Portable Video Viewing To A Whole Level</h4></a>
                            			<div class="date">
											<a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>March 14, 2018</a>
											<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>05</a>
										</div>
                            		</div>
                            	</div>
                            	<div class="media">
                            		<div class="d-flex">
                            			<img src="img/product/product-14.jpg" alt="">
                            		</div>
                            		<div class="media-body">
                            			<a href="#"><h4>Sony Laptops Are Still Part Of The Sony Family</h4></a>
                            			<div class="date">
											<a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>March 14, 2018</a>
											<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>05</a>
										</div>
                            		</div>
                            	</div>
                            </div>
                        </div>
                    </div>	
                </div>
                <div class="row footer-bottom d-flex justify-content-between align-items-center">
                   	<div class="col-lg-12">
                   		<div class="f_boder"></div>
                   	</div>
                    <p class="col-lg-8 col-md-8 footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    <div class="col-lg-4 col-md-4 footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                        <a href="#"><i class="fa fa-rss"></i></a>
                    </div>
                </div>
            </div>
        </footer>
		<!--================ End footer Area  =================-->
		<script>
      $('#summernote').summernote({
        placeholder: 'Hello stand alone ui',
        tabsize: 2,
        height: 100
      });
    </script>
    <script src="../js/jquery-3.2.1.min.js"></script>
 		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.js"></script>
	   	<script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
        <!-- <script data-require="angular.js@1.2.28" data-semver="1.2.28" src="https://code.angularjs.org/1.2.28/angular.js"></script>
    	<script data-require="angular-route@1.2.28" data-semver="1.2.28" src="https://code.angularjs.org/1.2.28/angular-route.js"></script>
    	<script data-require="angular-sanitize@*" data-semver="1.4.3" src="https://code.angularjs.org/1.4.3/angular-sanitize.js"></script> -->
        <script src="../js/popper.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/stellar.js"></script>
        <script src="../vendors/lightbox/simpleLightbox.min.js"></script>
        <script src="../vendors/nice-select/js/jquery.nice-select.min.js"></script>
        <script src="../vendors/isotope/imagesloaded.pkgd.min.js"></script>
        <script src="../vendors/isotope/isotope-min.js"></script>
        <script src="../vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="../vendors/jquery-ui/jquery-ui.js"></script>
        <script src="../js/jquery.ajaxchimp.min.js"></script>
        <script src="../js/mail-script.js"></script>
        <script src="../js/theme.js"></script>
        <script src="../ng-js/main.js"></script>
        <script src="../ng-js/admin.js"></script>
    
  </body>
</html>